<div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
  <ul>
    <li><%= link_to "アカウント", users_account_path%></li>
    <li><%= link_to "プロフィール", users_profile_path %></li>
  </ul>
</div>
<div class="col-lg-2 user-nav user-nav-mobile d-lg-none">
  <ul>
    <li><%= link_to "アカウント", users_account_path%></li>
    <li><%= link_to "プロフィール", users_profile_path %></li>
  </ul>
</div>


